@import '../../mixins.scss';

.stock-card {
    background: linear-gradient(
      180deg,
      $foregroundLightBlue 0%,
      $foregroundDarkBlue 100%
    );
    box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.5);
    border-radius: 24px;
    padding: 5%;
}

.stock-card-symbol {
    display: flex;
    @include body-font;
    color: $white;
    align-items: center;
    justify-content: center;
}
