@import "../colors.scss";
@import "../fonts.scss";

.Navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  grid-area: 1 / 1 / 2 / 2;
}

.NavElement {
  @include header-font;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 3%;
  margin-right: 2%;
  margin-left: 2%;
  width: 100%;
  background: linear-gradient(
    180deg,
    $buttonLightBlue 0%,
    $buttonDarkBlue 100%
  );
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.5);
  border-radius: 24px;
  text-decoration: none;

  &:first-child {
    margin-left: 3%;
  }

  &:last-child {
    margin-right: 3%;
  }

  &.selected {
    background: linear-gradient(
      130deg,
      $accentLightOrange 0%,
      $accentDarkOrange 100%
    );
  }
}
