$backgroundDarkBlue: #1c1f2d;
$backgroundLightBlue: #353b55;
$foregroundDarkBlue: #2d324c;
$foregroundLightBlue: #50587f;
$buttonDarkBlue: #40496b;
$buttonLightBlue: #58628c;
$accentDarkOrange: #7f361c;
$accentLightOrange: #eaa159;
