$backgroundDarkBlue: #1C1F2D;
$backgroundLightBlue: #353B55;
$foregroundDarkBlue: #2D324C;
$foregroundLightBlue: #50587F;
$buttonDarkBlue: #40496B;
$buttonLightBlue: #58628C;
$accentDarkOrange: #7F361C;
$accentLightOrange: #EAA159;