@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

$backgroundDarkBlue: #1c1f2d;
$backgroundLightBlue: #353b55;
$foregroundDarkBlue: #2d324c;
$foregroundLightBlue: #50587f;
$buttonDarkBlue: #40496b;
$buttonLightBlue: #58628c;
$accentDarkOrange: #7f361c;
$accentLightOrange: #eaa159;
$white: #ffffff;
$black: #000000;

@mixin header-font {
  font-family: 'Questrial', sans-serif;
  font-size: 4vmin;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@mixin body-font {
  font-family: 'Quicksand', sans-serif;
  font-size: 3vmin;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

@mixin button {
  @include header-font;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
  background: linear-gradient(
    180deg,
    $buttonLightBlue 0%,
    $buttonDarkBlue 100%
  );
  box-shadow: 4px 4px 12px rgba(0, 0, 0, 0.5);
  border-radius: 24px;
  text-decoration: none;

  &.selected {
    background: linear-gradient(
      130deg,
      $accentLightOrange 0%,
      $accentDarkOrange 100%
    );
  }
}
