@import '../mixins.scss';

.browse {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.search-bar {
    @include button;
    grid-area: 1 / 1 / 2 / 4;
    height: 100%;
}

.search-input {
    background-color: transparent;
    width: 100%;
}

.results {
    // grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    display: grid;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	grid-auto-rows: auto;
	grid-gap: 50px;
	padding: 50px;
}