@import '../mixins.scss';

.browse {
    display: grid;
    grid-area: 2 / 1 / 8 / 2;
    grid-row-gap: 3vw;

    // SETUP GRID LAYOUT
    margin: 3%;
}

.results {
    display: grid;
	grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
	grid-auto-rows: auto;
	grid-row-gap: 3vw;
    grid-column-gap: 3vw;
    grid-area: 2 / 1 / 3 / 2;
}
